body {
	font-size: 100%;
	background:#ffffff;
}
a {
	text-decoration: none;
}


ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapper {	
	width: 100%;
	margin: 0px auto;
	font-size: 0.8125em;
}
.menu {
	width: auto;
	height: auto;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.10);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.10);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.10);
}



.menu > li > a {
	background-color: #000066;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	border-bottom: 0px solid #33373d;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	width: 100%;
	height: 2.em;
	line-height: 2.8em;
	text-indent: 7.9em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #404040;
    font-size: 1.0em;
	text-shadow: 0px 0px 0px rgba(0,0,0,5);

}
.menu ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	height: 3.25em;
	line-height: 3.55em;
	text-indent: 3.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: 500;
	color: #778899;
}
.menu ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
	background-color: #35afe3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(128, 128, 128)),to(rgb(128, 128, 128)));
	background-image: -webkit-linear-gradient(top, rgb(128, 128, 128), rgb(128, 128, 128));
	background-image: -moz-linear-gradient(top, rgb(128, 128, 128), rgb(128, 128, 128));
	background-image: -o-linear-gradient(top, rgb(128, 128, 128), rgb(128, 128, 128));
	background-image: -ms-linear-gradient(top, rgb(128, 128, 128), rgb(128, 128, 128));
	background-image: linear-gradient(top, rgb(128, 128, 128), rgb(128, 128, 128));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#606060', EndColorStr='#202020');
	border-bottom: 1px solid #404040;
	-webkit-box-shadow: inset 0px 1px 0px 0px #404040;
	-moz-box-shadow: inset 0px 1px 0px 0px #404040;
	box-shadow: inset 0px 1px 0px 0px #404040;
}
.menu > li > a.active {
	border-bottom: 0px solid #404040;
}
.menu > li > a:before {
	content: '';
	background-image: url(sprite.png);
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 65;
	top: 50%;
	margin: -.5em 0 0 0;
}
.COL > a:before {
	background-position: 0 0;
}
.MEX > a:before {
	background-position: -38px 0;
}
.ES > a:before {
	background-position: 0 -38px;
}
.PE > a:before {
	background-position: -38px -38px;
}
.ENG > a:before {
	background-position: -76px 0px;
}
.FRA > a:before {
	background-position: -76px -38px;
}
.USA > a:before {
	background-position: -0px -76px;
}
.JA > a:before {
	background-position: -38px -76px;
}
.IT > a:before {
	background-position: -0px -114px;
}
.BRA > a:before {
	background-position: -38px -114px;
}
.ALE > a:before {
	background-position: -76px -76px;
}
.POR > a:before {
 	background-position: -76px -114px;
}
.CH > a:before {
	background-position: -0px -152px;
}
.ECUA > a:before {
	background-position: -38px -152px;
}
.URU > a:before {
	 background-position: 0px -190px;
}
.EURO > a:before {
	background-position: -38px -190px;
}
.AR > a:before {
	background-position: -76px -152px;
}
.AMERICA > a:before {
	background-position: -76px -190px;
}
.INDY> a:before {
	background-position: -0px -228px;
}
.NBA > a:before {
	background-position: -38px -228px;
}
.CHA > a:before {
	background-position: -0px -266px;
}
.UFC > a:before {
	background-position: -38px -266px;
}
.MOTOGP > a:before {
	background-position: -76px -228px;
}
.F1 > a:before {
	background-position: -76px -266px;
}
.FIFA > a:before {
 	background-position: -0px -304px;
}
.MMA > a:before {
	background-position: -38px -304px;
}
.WWE > a:before {
	background-position: -0px -342px;
}
.FUT > a:before {
	 background-position: -38px -342px;
}
.SUD > a:before {
	background-position: -76px -304px;
}
.CICLI > a:before {
	background-position: -76px -342px;
}
.LIB > a:before {
	background-position: -0px -380px;
}
.EUROAMERICANA > a:before {
	background-position: -38px -380px;
}
.BAS > a:before {
	 background-position: -0px -418px;
}
.TE > a:before {
	background-position: -38px -418px;
}
.BOX > a:before {
	background-position: -76px -380px;
}
.UE > a:before {
	background-position: -76px -418px;
}

.ELIE > a:before {
	background-position: -0px -456px;
}

.OFF > a:before {
	background-position: -38px -456px;
}

.NFL > a:before {
	background-position: -76px -456px;
}

.ELI > a:before {
	background-position: -0px -494px;

}

.ORO > a:before {
	background-position: -38px -494px;

}

.INTER > a:before {
	background-position: -76px -494px;

}

.ELICON > a:before {
	background-position: -0px -532px;

}

.VOLEY > a:before {
	background-position: -38px -532px;

}

.TV > a:before {
	background-position: -76px -532px;

}

.CN > a:before {
	background-position: -0px -570px;

}

.MLB > a:before {
	background-position: -38px -570px;

}

.RUSIA > a:before {
	background-position: -76px -570px;

}


.menu > li > a span {
	font-size: 0.9500em; 
	display: inline-block;
	position: absolute;
	left: 0.3em;
	top: 50%; 
	background: #FFFFFF;
	line-height: 1em;
	height: 1em;
	padding: .3em .6em;
	margin: -.8em 0 0 0; 
	color: #222D36;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .569em;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .16), 0px 1px 0px 0px rgba(63, 68, 74, .1);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .16), 0px 1px 0px 0px rgba(63, 68, 74, .1);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .16), 0px 1px 0px 0px rgba(63, 68, 74, .1);
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	font-weight: 500;
}
.menu > li > a:hover span, .menu > li a.active span {
	background: 404040;
}
.menu > li > ul li a:before{
	content: '►';
	font-size: 9px;
	color: #778899;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}




.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: #2E9AFE;
}


.menu ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #000000;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}

div.sombreada_css3 {
	background-color:#404040;
	width:100%px;
	padding:12px;
	color:#003399;
	box-shadow: 0px 1px 1px #333;
	-webkit-box-shadow: 0px 1px 1px #333;
	-moz-box-shadow: 0px 1px 1px #333;
}
